---
import type { StockQuote } from '../../types/quotes';

export interface Props {
  quote: StockQuote;
  type: 'bullish' | 'bearish';
}

const {quote, type} = Astro.props;
---

<article class:list={['card-quote', type]}>
  <h3 class="heading"><span class="title">{quote.name}</span> <span class:list={['movement', type]}>{quote.delta_percent.toFixed(2)}% <small>(${quote.delta.toFixed(2)})</small></span></h3>
  <div class="meta">
    <div class="meta-data">Closing: ${quote.previous_close.toFixed(2)}</div>
    <div class="meta-data">Open: ${quote.open.toFixed(2)}</div>
    <div class="meta-data">High: ${quote.high.toFixed(2)}</div>
    <div class="meta-data">Low: ${quote.low.toFixed(2)}</div>
  </div>
  <div class="current">${quote.current_price.toFixed(2)}</div>
</article>

<style lang="scss">
.card-quote {
  padding: 1rem;
}

.heading {
  font-size: 1rem;
  display: flex;
  font-weight: 700;

  .title {
    inline-size: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

.movement {
  &.bullish {
    color: var(--color-positive);
  }

  &.bearish {
    color: var(--color-negative);
  }

  small {
    font-size: 12px;
  }
}

.meta {
  margin-block-start: .5rem;
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: .25rem;
}

.current {
  margin-block-start: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.bullish {
  background-color: #0d1f23;
}

.bearish {
  background-color: #281717;
}
</style>
