---
import NavigationPage from '../../components/NavigationPage.astro';
import Layout from "../../layouts/Layout.astro";

const { symbol } = Astro.params;

const companyProfile = await (await fetch(`https://giga-stonks-api.shuttleapp.rs/api/v1/company-profile/djia${symbol}`)).json();
---

<Layout title="Giga Stonks - Overview">
  <main>
    <NavigationPage />
    <div>
      <p>{companyProfile.country}</p>
      <p>{companyProfile.currency}</p>
      <p>{companyProfile.exchange}</p>
      <p>{companyProfile.finnhubIndustry}</p>
      <p>{companyProfile.ipo}</p>
      <p><img src={companyProfile.logo} alt={`Logo ${companyProfile.name}`}></p>
      <p>{companyProfile.name}</p>
      <p>{companyProfile.ticker}</p>
      <p>{companyProfile.weburl}</p>
    </div>
  </main>
</Layout>

<style></style>
