---
import { Suspense } from 'vue';
import CompanyProfile from '../../components/detail/CompanyProfile.astro';
import SocialSentiments from '../../components/detail/SocialSentiments.astro';
import NavigationPage from '../../components/NavigationPage.astro';
import MarketNewsStock from '../../components/news/MarketNewsStock.astro';
import NewsSentimentStock from '../../components/news/NewsSentimentStock.astro';
import Layout from "../../layouts/Layout.astro";
import StockChartLoader from '../../vue/StockChartLoader.vue';

const { symbol } = Astro.params;

const companyProfile = await (await fetch(`https://giga-stonks-api.shuttleapp.rs/api/v1/company-profile/${symbol}`)).json();
---

<Layout title={`Giga Stonks | Stock Details for ${companyProfile.name}`}>
  <main class:list={['stock-details', 'content-grid']}>
    <div class="col-flex">
      <NavigationPage />
      <div class="col-flex-inner">
        <CompanyProfile companyProfile={companyProfile} />
        <NewsSentimentStock name={companyProfile.name} ticker={companyProfile.ticker} />
    </div>
    </div>

    <div class="col">
      <div class="col-row grid-col-2">
        <MarketNewsStock name={companyProfile.name} ticker={companyProfile.ticker} />
        <SocialSentiments symbol={symbol!} />
      </div>

      <div class="col-row">
        <StockChartLoader client:only symbol={symbol as string} />
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
.content-grid {
  display: flex;
  gap: 1rem;
  block-size: 100%;

  .col-flex {
    display: flex;
    flex-direction: column;
  }

  .col-flex-inner {
    min-block-size: 0;
    flex: 1;
    display: grid;
    gap: 1rem;
  }

  .col {
    --gap: 1rem;
    display: grid;
    grid-template-rows: calc(50% - (var(--gap) / 2)) calc(50% - (var(--gap) / 2));
    gap: var(--gap);
    flex: 1;
  }

  :global(.container) {
    overflow: hidden;
    flex: 1;
  }

  .grid-col-2 {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
</style>
